$header_hight: 105px;

$blue: rgb(119, 221, 255);
$golden: rgb(245, 233, 75);

$blue-light: rgb(219, 246, 251);
$blue-main: rgb(169, 224, 244);

$white-main: rgb(241, 251, 253);
$white-border: rgb(205, 214, 218);

$gray-card: rgb(222, 235, 240);
$golden-card: rgb(255, 252, 158);
$pink-card: rgb(246, 186, 213);

$black-main: rgb(75, 112, 155);
$black-shadow: rgb(45, 70, 99);
$black-border: rgb(122 171 200/0.3);

// padding
// border
// margin
