.gacha_icon {
    width: 90px;
    margin: 10px;
    @include noskew;
}

.stone_icon {
    width: 80px;
    margin: -10px -20px;
    @include noskew;
}

.point_icon {
    width: 110px;
    margin: -10px -20px;
    z-index: 1;
}

.tab-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white-main;
    border: 1px solid $white-border;
    border-radius: 3px;
    box-shadow: 0px 4px 6px -3px rgb(0 0 0/0.5);

    .tab-body {
        position: relative;
        width: 845px;
        height: 440px;
        padding: 20px 20px;
        text-indent: 2px;

        &::before {
            content: '';
            background: url(/IntroBg.png) no-repeat left bottom;
            background-size: 770px 385px;
            @include position(0, 0);
            @include full;
        }

        & > div {
            text-align: left;
        }

        .duration {
            width: 100%;
            color: $black-shadow;
            background-color: $blue-light;
            line-height: 16px;
            padding: 12px;
            @include font-light;
        }

        .title {
            line-height: 24px;
            color: $black-main;
            padding: 20px 0 20px 2px;
            border-bottom: 3px solid $white-border;
            @include font-large;
        }

        .subtitle {
            line-height: 16px;
            color: rgb(0, 126, 255);
            padding: 9px 0 10px 2px;
            border-bottom: 3px solid $white-border;
            @include font-regular;
        }

        .notice {
            line-height: 32px;
            color: $black-shadow;
            @include font-light;
        }

        .button-container {
            width: 845px;
            height: 110px;
            display: flex;
            justify-content: space-evenly;
            @include position(0, 30px);

            .gacha-button {
                position: relative;
                padding-left: 14px;
                overflow: hidden;
                box-shadow: 0px 5px 5px -5px rgb(0 0 0/0.6);
                @include skew;
                @include center;
                &:active {
                    transform: scale(0.95) skewX(-10deg);
                }

                .right {
                    flex-wrap: wrap;
                    margin-left: -20px;
                    @include center;

                    .cost {
                        width: 160px;
                        height: 35px;
                        color: white;
                        background: $black-shadow;
                        border-radius: 3px;
                        margin-left: -10px;
                        @include center;

                        span {
                            @include font-regular;
                            @include noskew;
                        }
                    }

                    .text {
                        width: 230px;
                        color: $black-shadow;
                        line-height: 30px;
                        text-align: right;
                        padding-right: 20px;
                        @include font-big;
                        @include noskew;
                    }
                }
            }

            .button-blue {
                @include gacha-button($blue, '/ButtonBlueBg0.png', '/ButtonBlueBg1.png');
            }

            .button-yellow {
                @include gacha-button($golden, '/ButtonYellowBg0.png', '/ButtonYellowBg1.png');
            }
        }
    }

    .tab-foot {
        height: 80px;
        background: $blue-main;
        @include center;

        .text {
            width: 260px;
            height: 42px;
            color: $black-main;
            background: white;
            border: 2px solid $black-main;
            margin-left: -17px;
            @include center;
            @include skew;

            span {
                @include noskew;
                @include font-regular;
            }
        }

        .point {
            width: 215px;
            height: 42px;
            color: white;
            background: $black-shadow;
            border-radius: 0 3px 3px 0;
            margin-right: 20px;
            @include center;
            @include skew;

            span {
                @include font-regular;
                @include noskew;
            }
        }

        .select {
            width: 215px;
            height: 54px;
            color: $black-main;
            background: $blue-light;
            border-radius: 7px;
            border: 1px solid $black-border;
            box-shadow: 0px 5px 5px -5px rgb(0 0 0/0.5);
            @include center;
            @include skew;

            span {
                @include font-regular;
                font-size: 28px;
                @include noskew;
            }

            &:active {
                transform: scale(0.95) skewX(-10deg);
            }
        }
    }
}
