.tab-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white-main;
    border: 1px solid $white-border;
    border-radius: 3px;
    box-shadow: 0px 4px 6px -3px rgb(0 0 0/0.5);

    .tab-body {
        position: relative;
        width: 845px;
        height: 440px;
        padding: 20px 20px;
        text-indent: 2px;

        &::before {
            content: '';
            background: url(/IntroBgLeft.png) no-repeat left bottom;
            background-size: 770px 385px;
            @include position(0, 0);
            @include full;
        }

        & > div {
            text-align: left;
        }

        .duration {
            width: 780px;
            color: $black-shadow;
            background-color: $blue-light;
            line-height: 16px;
            padding: 12px;
            @include font-light;
        }

        .title {
            width: 100%;
            line-height: 24px;
            color: $black-main;
            padding: 20px 0 20px 2px;
            border-bottom: 3px solid $white-border;
            @include font-large;
        }

        .subtitle {
            width: 100%;
            line-height: 16px;
            color: rgb(0, 126, 255);
            padding: 9px 0 10px 2px;
            border-bottom: 3px solid $white-border;
            @include font-regular;
        }

        .notice {
            width: 100%;
            line-height: 32px;
            color: $black-shadow;
            white-space: pre-wrap;
            @include font-light;
        }
    }

    .tab-foot {
        height: 80px;
        background: $blue-main;
        @include center;

        .text {
            width: 260px;
            height: 42px;
            color: $black-main;
            background: white;
            border: 2px solid $black-main;
            margin-left: -17px;
            @include center;
            @include skew;

            span {
                @include noskew;
                @include font-regular;
            }
        }

        .point {
            width: 215px;
            height: 42px;
            color: white;
            background: $black-shadow;
            border-radius: 0 3px 3px 0;
            margin-right: 20px;
            @include center;
            @include skew;

            span {
                @include font-regular;
                @include noskew;
            }
        }

        .select {
            width: 215px;
            height: 54px;
            color: $black-main;
            background: $blue-light;
            border-radius: 7px;
            border: 1px solid $black-border;
            box-shadow: 0px 5px 5px -5px rgb(0 0 0/0.5);
            @include center;
            @include skew;
            cursor: pointer;

            span {
                @include font-regular;
                font-size: 28px;
                @include noskew;
            }

            &:active {
                transform: scale(0.95) skewX(-10deg);
            }
        }
    }
}

.gacha-wrapper {
    grid-area: 1 / 2 / 3 / 3;
    height: 100vh;
    z-index: 4;
    @include center;
    flex-direction: column;

    div {
        width: 844px;
    }

    .event-banner {
        display: flex;
        justify-content: flex-start;
        height: 140px;
        overflow: hidden;

        img {
            height: 140px;
            margin: 0 5px;
        }
    }

    .event-scroll {
        background-color: #ffffffba;
        height: 13.5px;
        width: fit-content;
        padding: 0 10px;
        margin: 8px;
        border-radius: 20px;
        @include center;

        .dot {
            cursor: pointer;
            height: 5px;
            width: 5px;
            margin: 0 2px;
            background-color: $black-shadow;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: $blue;
        }
    }

    .tab-container {
        height: 520px;
    }
}
