.link {
    position: fixed;
    left: 60px;
    top: 7px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 10;
}

.help {
    position: fixed;
    left: 303px;
    top: 14px;
    width: 31px;
    height: 31px;
    border-radius: 10px;
    z-index: 10;
}
