@import './base.css';

* {
    padding: 0;
    margin: 0;
}

img {
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -khtml-user-drag: none;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.loader {
    width: 70px;
    height: 70px;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 5px solid #9dd8fc;
    border-right: 5px solid transparent;
    animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
    to {
        transform: rotate(360deg);
    }
}
