@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hw($height, $width){
    height: $height;
    width: $width;
}

@mixin hw-filled {
    @include hw(100%, 100%);
}

@mixin hw-filled-screen {
    @include hw(100vh, 100vw);
}

@mixin position($top:auto, $right:auto, $bottom:auto, $left:auto, $position:absolute) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin skew {
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
}

@mixin noskew {
    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
}

@mixin active {
    transform: scale(0.95) skewX(-10deg);
}

// font

@mixin font($size) {
    font-size: $size;
    font-weight: 700;
    user-select:none;
}

@mixin font-big {
    font-size: 1.7vw;
    font-weight: 700;
    user-select:none;
}

@mixin font-large {
    font-size: 2.5vw;
    font-weight: 700;
    user-select:none;
}

@mixin font-heavy {
    font-size: 1vw;
    font-weight: 1400;
    user-select:none;
}

@mixin font-regular {
    font-size: 1vw;
    font-weight: 700;
    user-select:none;
}

@mixin font-light {
    font-size: 1vw;
    user-select:none;
}

// button

@mixin gacha-button($color, $url0, $url1) {
    width: 40%;
    border-radius: 10px;
    background: $color;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-size: contain;
        z-index: -1;
        @include hw-filled;
    }

    &::before {
        @include position(-10px, auto, auto, -20px);
        background: url($url0) left top no-repeat;
        -webkit-filter: opacity(0.5);
        filter: opacity(0.5);
    }

    &::after {
        @include position(auto, -20px, -10px, auto);
        background: url($url1) right bottom no-repeat;
        -webkit-filter: opacity(0.5);
        filter: opacity(0.5);
    }

    &:active {
        @include active;
    }
}

// scroll bar

@mixin hide-scrollbar {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 和 Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
