.modal-backdrop {
    position: fixed;
    @include full-screen;
    @include center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal {
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 10px 6px -2px;
    background:
        url(/IntroBgRight.png) right bottom no-repeat,
        rgb(242, 242, 242);
    background-size: 770px 385px;
    .modal-header {
        height: 70px;
        @include center;
        position: relative;
        color: $black-shadow;
        background: rgb(239, 242, 244);
        background-size: contain;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid rgb(218, 221, 220);
        & > span:first-child {
            border-bottom: 8px solid rgb(255, 244, 126);
            @include font-big;
            padding: 5px;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            @include full;
            background: url(/HeaderBg.png) no-repeat left top;
            background-size: contain;
        }
        button {
            margin-left: 8px;
            height: 35px;
            width: 35px;
            background-color: $black-shadow;
            border-radius: 5px;
            border: 0 solid;
            color: white;
            font-size: x-large;
        }
    }
    .modal-body {
        height: 270px;
        padding: 50px;
        color: black;
        @include font-regular;
        @include center;
    }
    .modal-footer {
        width: 640px;
        height: 90px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 45px;
        .gacha-button {
            position: relative;
            overflow: hidden;
            box-shadow: 0px 5px 5px -5px rgb(0 0 0/0.6);
            @include skew;
            @include center;
            div {
                @include noskew;
                @include font-big;
            }
            &:active {
                transform: scale(0.95) skewX(-10deg);
            }
        }
        .button-gray {
            @include gacha-button($gray, '/ButtonGrayBg0.png', '/ButtonGrayBg1.png');
        }

        .button-blue {
            @include gacha-button($blue, '/ButtonBlueBg0.png', '/ButtonBlueBg1.png');
        }

        .button-yellow {
            @include gacha-button($golden, '/ButtonYellowBg0.png', '/ButtonYellowBg1.png');
        }
    }
}

.modal.history {
    background: rgb(242, 242, 242);
    height: 83vh;
    width: 1450px;

    .modal-body {
        height: 75vh;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 50px;
        @include hide-scrollbar;
        .card {
            width: 16.66%;
        }
        .card > a {
            @include center;
            flex-direction: column;
            padding: 0 15px;
        }
    }
    $img-height: 220px;
    .char img {
        height: $img-height;
    }
    .star {
        position: relative;
        bottom: -$img-height;
        width: 100%;
        height: 40px;
        background-color: $black-shadow-opacity;
        @include center;
        img {
            height: 25px;
            opacity: 1;
        }
    }
    .name {
        @include font-regular;
        color: $black-shadow;
        text-decoration: underline $golden-card;
    }
}

.modal.setting {
    height: 70vh;
    width: 1050px;
}
